html{
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar{
  width: .5rem;
  background-color: #13151D;
}

body::-webkit-scrollbar-thumb{
  background-color: #fff;
  border-radius: 1rem;
}

[id] {
  scroll-margin-top: 7.8ex;
}