#inicio{
    background-image: url(../assets/adults-analysis-banking-1451447.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.jumbotron{
    max-width: 100%;
    background-color: #000000b3;
    color: #fff;
    padding-top: 5rem;
}

@media screen and (min-width: 768px) {
    .jumbotron {
        padding-top: 10rem;
    }
}

@media screen and (min-width: 992px) {
    .jumbotron {
        padding-top: 15rem;
    }
}

@media screen and (min-width: 1200px) {
    .jumbotron {
        padding-top: 20rem;
    }
}
